<div class="sections-accordion">
  <div class="section" *ngFor="let section of sections; let i = index">
    <button class="accordion-title" #accordion>
      {{ i + 1 }}- {{ section.title.format() }}
    </button>
    <div class="panel">
      <div
        class="video"
        *ngFor="let video of section.videos"
        [ngClass]="{ active: isSelected(video?.uuid?.value) }"
        (click)="onSelectVideo(video)"
      >
        {{ video.title.value }}
      </div>
    </div>
  </div>
  <div class="section">
    <button class="accordion-title" #accordion>Videos</button>
    <div class="panel">
      <div
        class="video"
        *ngFor="let video of videos"
        [ngClass]="{ active: isSelected(video?.uuid?.value) }"
        (click)="onSelectVideo(video)"
      >
        {{ video.title.value }}
      </div>
    </div>
  </div>
</div>
