<div
  class="content cinema-mode"
  appOpenNavbarSwipper
  [ngClass]="{ cinemamode: isCinemaMode }"
>
  <div
    class="video"
    appOpenNavbarSwipper
    [ngClass]="{ cinemamodeVideoPlayer: isCinemaMode }"
  >
    <div class="player-container">
      <div class="player">
        <div class="loading-container" *ngIf="!videoUrl">
          <app-general-loading></app-general-loading>
          <h2>Loading</h2>
        </div>
        <div class="animate__animated animate__fadeInDownBig" *ngIf="videoUrl">
          <app-video-player
            [videoUrl]="videoUrl"
            [imagePath]="course.imagePath"
            (nextVideoEmitter)="nextVideo()"
          ></app-video-player>
        </div>
      </div>
    </div>
  </div>
  <div
    class="sections"
    appOpenNavbarSwipper
    [ngClass]="{ cinemamodeSections: isCinemaMode }"
  >
    <app-sections-accordion
      *ngIf="course?.sections"
      [sections]="course?.sections"
      [videos]="course?.videos"
      [courseName]="course.title.value"
      [selectedVideo]="selectedVideo"
      [selectedSection]="currentSection"
      (selectedVideoEmitter)="selectVideo($event)"
    ></app-sections-accordion>
  </div>
</div>
