.content {
  display: flex;
  width: 100%;
}

.player {
  width: 70vw;
}
.sections {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30vw;
  overflow-y: auto;
  background-color: var(--background-contrast);
  padding-bottom: 1rem;
}
