<div class="table-container">
  <table class="table">
    <thead class="table-head">
      <td><div class="table-body-item">Image</div></td>
      <td><div class="table-body-item">Title</div></td>
      <td><div class="table-body-item">Duration</div></td>

      <td></td>
    </thead>

    <tbody class="table-body">
      <tr
        *ngFor="let course of courses; index as i"
        class="content-row"
        [routerLink]="['/admin/dashboard/course', course?.course?.uuid?.value]"
      >
        <td>
          <div class="content-image table-body-item">
            <img
              *ngIf="!course.imageDataUrl"
              src="../../../../../../../assets/images/no-image.jpg"
              alt="no image"
            />
            <img
              *ngIf="course.imageDataUrl"
              [src]="course.imageDataUrl"
              alt="course image"
            />
          </div>
        </td>
        <td>
          <div class="table-body-item">
            {{ course?.course?.title?.value }}
          </div>
        </td>
        <td>
          <div class="table-body-item">
            {{ course?.course?.duration?.formatToString() }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
