<div class="table grid">
  <!-- Headers -->
  <div class="headers grid row">
    <div class="headers-image">Image</div>
    <div class="headers-title">Name</div>
    <div class="headers-duration">Email</div>
    <div class="headers-duration">Role</div>
    <div class="headers-duration">Validated</div>
    <div class="headers-duration">Uuid</div>
    <div class="headers-duration"></div>
  </div>

  <div class="content-row grid row" *ngFor="let user of users; index as i">
    <div class="content-image">
      <img
        src="../../../../../../../assets/images/no-user.svg"
        alt="no image"
      />
    </div>
    <div class="content-title">{{ user.name.value }}</div>
    <div class="content-duration">{{ user.email.value }}</div>
    <div class="content-role">{{ user.role.value }}</div>
    <div class="content-validated">
      <input type="checkbox" [formControl]="formValidatedControl(i)" />
    </div>
    <div class="content-uuid">{{ user.uuid.value }}</div>
    <div class="content-icons">
      <div class="icon-item" (click)="deleteUser(user)">
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
  </div>
</div>
