<div class="table-container">
  <table class="table">
    <thead class="table-head">
      <td></td>
      <td>
        <div class="table-body-item">Name</div>
      </td>
      <td><div class="table-body-item">Email</div></td>
      <td><div class="table-body-item">Role</div></td>
      <td><div class="table-body-item">Validated</div></td>
      <td><div class="table-body-item">Uuid</div></td>
      <td></td>
    </thead>

    <tbody class="table-body">
      <tr *ngFor="let user of users; index as i" class="content-row">
        <td>
          <div class="content-image table-body-item">
            <img
              src="../../../../../../../assets/images/no-user.svg"
              alt="no image"
            />
          </div>
        </td>
        <td>
          <div class="table-body-item">
            {{ user.name.value }}
          </div>
        </td>
        <td>
          <div class="table-body-item">
            {{ user.email.value }}
          </div>
        </td>
        <td>
          <div class="table-body-item">
            {{ user.role.value }}
          </div>
        </td>
        <td>
          <div class="table-body-item input-container">
            <input type="checkbox" [formControl]="formValidatedControl(i)" />
          </div>
        </td>
        <td>
          <div class="table-body-item">
            {{ user.uuid.value }}
          </div>
        </td>
        <td>
          <div class="icon-item table-body-item" (click)="deleteUser(user)">
            <i class="fas fa-trash-alt"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
