.table {
  gap: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 0.25fr repeat(5, 1fr) 0.25fr;
  gap: 1rem;
  width: 100%;
}

.row {
  grid-column: 1 / 7;
  padding: 0.5rem;
}
.headers {
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 2px solid var(--shadow);
}

.content-row {
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  &:hover {
    background-color: var(--hover);
  }
}

.content-image img {
  border-radius: var(--border-radius);
  min-width: 50px;
  overflow: hidden;
  width: 50%;
}

.content-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.icon-item {
  z-index: 1;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  transition: 0.3s;
  &:hover {
    background-color: var(--hover-contrast);
    & i {
      color: var(--danger);
    }
  }
}
