<div class="table grid">
  <!-- Headers -->
  <div class="headers grid row">
    <div class="headers-image">Image</div>
    <div class="headers-title">Name</div>
    <div class="headers-duration">Email</div>
    <div class="headers-duration">Role</div>
    <div class="headers-duration">Validated</div>
    <div class="headers-duration">Uuid</div>
  </div>

  <div class="content-row grid row">
    <div class="content-image">
      <img
        src="../../../../../../../assets/images/no-user.svg"
        alt="no image"
      />
    </div>
    <div class="content-title">name</div>
    <div class="content-duration">email</div>
    <div class="content-title">Role</div>
    <div class="content-title">Validated</div>
    <div class="content-title">Uuid</div>
  </div>
</div>
