.table {
  min-width: 100%;
  gap: 10px;
}

.table-head {
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 2px solid var(--shadow);
}

.table-head-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.table-body-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.input-container {
  justify-content: flex-start;
}

.content-row {
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.3s ease-out;
  &:hover {
    background-color: var(--hover);
  }
}

.content-image img {
  border-radius: var(--border-radius);
  width: 50px;
  overflow: hidden;
}

.content-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.icon-item {
  justify-content: center;
  border-radius: var(--border-radius);
  transition: 0.3s;
  &:hover {
    background-color: var(--hover-contrast);
    & i {
      color: var(--danger);
    }
  }
}

@media (max-width: 1000px) {
  .table-container {
    touch-action: pan-y pan-x !important;
    overflow-x: auto;
  }
  .content-image img {
    width: 30px;
  }
}
