<nav class="navbar unshow">
  <h5 class="app-name">Video Platform.</h5>

  <div class="items">
    <div class="items-item" routerLink="/home" routerLinkActive="active">
      <i class="fas fa-home"></i>
      <a>Home</a>
    </div>

    <div
      *ngIf="isAdmin()"
      class="items-item"
      routerLink="/admin/dashboard"
      routerLinkActive="active"
    >
      <i class="fas fa-users-cog"></i>
      <a>Dashboard</a>
    </div>
  </div>

  <!-- Profile section -->
  <div class="profile" *ngIf="isLogin">
    <!-- Profile card -->
    <div class="profile-options grow" *ngIf="isUserOptionOpen">
      <div class="profile-options-content">
        <ul class="options"></ul>

        <li class="profile-option__item" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span class="item-text">Logout</span>
        </li>
      </div>
    </div>

    <span class="profile__name" *ngIf="true">{{
      user?.name?.value | uppercase
    }}</span>
    <div class="profile-user" (click)="isUserOptionOpen = !isUserOptionOpen">
      <img
        src="../../../../../assets/images/no-user.svg"
        alt="user image"
        class="profile__image"
      />
    </div>
  </div>
  <button
    class="btn btn-primary signin"
    *ngIf="!isLogin"
    routerLink="/auth/login"
  >
    <i class="fas fa-sign-out-alt"></i>
    <span class="item-text">Login</span>
  </button>
</nav>
