:root {
  --background-light: #f4f9ff;
  --background-dark: #161616;

  --background-card-light: #ffffff;
  --background-card-dark: #222232;
  --background-card-dark-contrast: #171717;

  --text-primary-light: #010914;
  --text-secondary-light: #717171;

  --text-primary-dark: #f6f4f8;
  --text-secondary-dark: #b2b2b2;

  --shadow-dark: #312b3c;
  --shadow-light: #2c3094;

  --input-background-dark: #252525;
  --hover-dark: #5b5b5b;
  --hover-light: #d1d1d1;

  --primary-light: #3c55db;
  --secondary-light: #db9d51;
  --third-light: #dbd525;
  --secondary-complement-light: #30a4db;
  --third-complement-light: #8046db;

  --primary-dark: #29deba;
  --secondary-dark: #1fb3f2;
  --third-dark: #db9d88;
  --secondary-complement-dark: #7d8cdb;
  --third-complement-dark: #67dbc1;

  --succes-not: #9edd6b;
  --warning-not: #f2ce59;
  --danger-not: #e05252;
}

.theme-light {
  //backgrounds
  --background: var(--background-light);
  --background-card: var(--background-card-light);
  --background-navbar: var(--background-dark);
  --background-contrast: var(--background-dark);

  // Texts
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --text-contrast-primary: var(--text-primary-dark);
  --text-contrast-secondary: var(--text-secondary-dark);

  //App colors
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --third: var(--third-light);
  --secondary-complement: var(--secondary-complement-light);
  --third-complement: var(--third-complement-light);

  // Notifications
  --succes: var(--succes);
  --warning: var(--warning);
  --danger: var(--danger);
}

.theme-dark {
  //backgrounds
  --background: var(--background-dark);
  --background-card: var(--background-card-dark);
  --background-navbar: var(--background-light);
  --background-contrast: var(--background-light);
  --background-width-opacity: var(--background-card-dark-contrast);

  // Texts
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --text-contrast-primary: var(--text-primary-light);
  --text-contrast-secondary: var(--text-secondary-light);

  //App colors
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --third: var(--third-dark);
  --secondary-complement: var(--secondary-complement-dark);
  --third-complement: var(--third-complement-dark);

  // Shadow
  --shadow: var(--shadow-dark);

  //Hover
  --hover: var(--hover-dark);
  --hover-contrast: var(--hover-light);

  //Input
  --input-background: var(--input-background-dark);

  //Notifications
  --succes: var(--succes-not);
  --warning: var(--warning-not);
  --danger: var(--danger-not);
}
