.alert-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.alert-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  color: var(--text-contrast-primary);
  font-size: 1.4rem;

  &.succes {
    background-color: var(--succes);
  }
  &.warning {
    background-color: var(--warning);
  }
  &.danger {
    background-color: var(--danger);
  }
}

.remove-alert {
  cursor: pointer;
  padding: 0.25rem;
  border-radius: var(--border-radius);
  transition: 0.3s;
  &:hover {
    background-color: var(--hover);
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
