<div class="alert-container">
  <div
    *ngFor="let alert of alerts.reverse()"
    class="alert-card {{ alert.type }} "
    [ngClass]="{ fadeOut: alert.fadeOut ? true : false }"
  >
    <i class="fas fa-check-circle" *ngIf="alert.type === 'succes'"></i>
    <i class="fas fa-exclamation-triangle" *ngIf="alert.type === 'warning'"></i>
    <i class="fas fa-exclamation-circle" *ngIf="alert.type === 'danger'"></i>

    <span class="alert-message">{{ alert.message }}</span>

    <div class="remove-alert">
      <i class="far fa-times-circle" (click)="removeAlert(alert)"></i>
    </div>
  </div>
</div>
