<div class="login-wrapper">
  <div class="welcome">
    <h1>Recovery your password</h1>
    <h5>Enjoy our courses and learn something new</h5>
  </div>

  <form class="login-form" [formGroup]="form">
    <div class="login-form-item">
      <label>
        <i class="fas fa-envelope email"></i>
      </label>
      <input
        type="text"
        placeholder="Enter your Email"
        autocomplete="off"
        id="email"
        class="input"
        formControlName="email"
      />
    </div>

    <button class="btn btn-block btn-primary" (click)="onSubmit()">
      Recovery
    </button>
  </form>

  <div class="message">
    <a routerLink="/auth/login">Login</a>
    <a routerLink="/auth/signup">Create an account</a>
  </div>
</div>
